

<!-- Marketing -->
<div class="container-fluid" style="background: url(/assets/bgimage.jpg) repeat; height: 100%; width: 100%; alignt: center;" background="img/bgimage.jpg"%>
  <div class="row-fluid" >
      <div class="span3"%></div>
      <div class="jumbotron span6"%>
        <h1><b style="font-family: 'Leckerli One', cursive;"%>Tickler</b> is your parking tickets handler.</h1>
        <p class="lead"%><b>A parking ticket management system which you can add, pay and debate your tickets. It also reminds you of the payment deadlines.</b></p>
        <button class="btn" type="button"%>Try Tricker at Google Play</button>
      </div>
      <div class="span3"%></div>


  </div>
</div>

<!-- How It Works -->


    <div class="row-fluid"%>
      <div class="span2"%></div>
      <div class="span8"%>
        <br><h1 class="light"%>Three Simple Steps How Tickler Works</h1>
      <div class="span2"%></div>
    </div>

<!-- Example row of columns -->

  <div class="container"%>
      <div class="row-fluid"%>

        <div class="span4"%>
          <h2>1. Add your ticket</h2>
          <%= image_tag "howitworks-01.png" %>
          <p>So you get your parking ticket, and you are fustrated. Worry no more, Tricker is here to help! Simply take a photo of the ticket and Tickler automatically detects all the vital information and stored it as a new ticket for you.</p>
        </div>

        <div class="span4"%>
          <h2>2. Pay or Deabte</h2>
          <%= image_tag "howitworks-02.png" %>
          <p>Simply click <b>Pay</b> on the selected ticket and Tickler automatically redirects you to payment page, enter credit card information and it's done. Feeling unjust? Hit <b>Debate</b> and input your reasons for debating, Tickler sends the form to the authority via our fast and reliable mail service.</p>
       </div>

        <div class="span4"%>
          <h2>3. Notify</h2>
          <%= image_tag "howitworks-03.png" %>
          <p>On your own settings, Tickler can remind you when your ticket deadline is approaching, to help you avoid enormous additional fee for late payment. Options include by text messaging, email or simply on-device notifications.</p>
        </div>

      </div>

    </div> <!-- /container -->
